.dl-horizontal dt {
    white-space: normal;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error, textarea.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-errors ul {
    list-style: none;
    padding: 0;
}

input[type="file"] {
    color: transparent;
    width: 150px;
}


.wrapper {
    min-height: calc(100vh - 220px);
}

